.__padding {
	padding: 22px;
}

.__padding-top {
	padding-top: 22px;
}

.__padding-bottom {
	padding-bottom: 22px;
}

.__padding-left {
	padding-left: 22px;
}

.__padding-right {
	padding-right: 22px;
}

.__margin {
	margin: 22px;
}

.__margin-top {
	margin-top: 22px;
}

.__margin-bottom {
	margin-bottom: 22px;
}

.__margin-left {
	margin-left: 22px;
}

.__margin-right {
	margin-right: 22px;
}